.main-content,
.select-container {
    gap: 2rem;
}

.logos-container,
.filter-container,
.cards-container {
    gap: 1rem;
}

.logos-container a {
    width: fit-content;
    height: fit-content;
}

.menu-links a {
    display: flex;
    align-items: center;
    width: fit-content;
}

th,
td {
    white-space: nowrap;
}

div[title="Eleição para membro de Colegiado de Curso"] thead th:nth-child(2),
div[title="Eleição para membro de Colegiado de Curso"] thead th:nth-child(3),
div[title="Eleição para membro de Colegiado de Curso"] tbody td:nth-child(2),
div[title="Eleição para membro de Colegiado de Curso"] tbody td:nth-child(3) {
    white-space: normal;
}

div[title="Eleições para membros de Núcleo Docente Estruturante - NDE"] thead th:nth-child(2),
div[title="Eleições para membros de Núcleo Docente Estruturante - NDE"] thead th:nth-child(3),
div[title="Eleições para membros de Núcleo Docente Estruturante - NDE"] tbody td:nth-child(2),
div[title="Eleições para membros de Núcleo Docente Estruturante - NDE"] tbody td:nth-child(3) {
    white-space: normal;
}

thead th:last-child,
tbody td:last-child {
    white-space: normal;
}

.cards-container .br-card {
    width: 30%;
}

.power-bi-iframe {
    width: 100%;
    height: 80vh;
    border: none;
}